* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20%;
  justify-content: center;
  height: 90%;
  width: 90%;
}
.btnContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.button {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  width: 250px;
  height: 280px;
  padding: 1rem;
  background-color: rgb(163, 163, 163);
  border-radius: 10px;
  border: 1px solid rgb(65, 65, 65);
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.09);
}
.imgBtn {
  display: flex;
  height: 185px;
  width: 170px;
  border-radius: 10px;
}
